{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1>Личный кабинет</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Home</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Личный кабинет</span></li>
             <li class="breadcrumbs-item"><a href="/profile">Редактирование профиля</a></li>
             {% if user.is_staff %}
             <li class="breadcrumbs-item"><a href="{% url 'shop:products_table' %}">Таблица товаров</a></li>
             <li class="breadcrumbs-item"><a href="{% url 'shop:create_product' %}">Создать товар</a></li>
             <li class="breadcrumbs-item"><a href="{% url 'shop:delete_product' %}">Архивировать товар</a></li>
             <li class="breadcrumbs-item"><a href="{% url 'shop:return_product' %}">Разархивировать товар</a></li>
             {% endif %}

          </ul>
        </div>
      </div>
    </div>

    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация</strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item"><a class="menu-link" href="/profile">Профиль</a></li>
                  <li class="menu-item"><a class="menu-link" href="/history-order">История заказов</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="Section-content">
          <div class="Profile">
            <div class="row">

              <!-- Информация профиля -->
              <div class="row-block">
                <div>
                  {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="Аватар" style="max-width:150px; margin-bottom:10px;">
                  {% endif %}
                  <p><strong>ФИО:</strong> {{ profile.fullName }}</p>
<!--                  <a href="{% url 'profile' %}">Редактировать профиль</a>-->
                </div>
              </div>

              <!-- Последний заказ -->
              <div class="row-block">
                {% if last_order %}
                  <h2>Последний заказ</h2>
                     <div class="row-block">
                      <a class="Order-title" href="/orders/{{ last_order.id }}/">
                        Ваш крайний заказ от {{ last_order.created_at|date:"d.m.Y H:i" }}
                      </a>

                    </div>
<!--&lt;!&ndash;                   -->
<!--                  <p>Номер заказа: {{ last_order.id }}</p>-->
<!--&lt;!&ndash;                  <p>Дата: {{ last_order.date }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{% url 'detail_order' last_order.id %}">Детали заказа</a><br>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{% url 'order_history' %}">История заказов</a>&ndash;&gt;-->
                {% else %}
                  <p>У вас пока нет заказов.</p>
                {% endif %}
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
