{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Возврат товара</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="/">home</a></li>
                        <li class="breadcrumbs-item"><a href="{% url 'api:personal_office' %}">Личный кабинет</a></li>
                        <li class="breadcrumbs-item"><a href="{% url 'shop:create_product' %}">Создать товар</a></li>
                        <li class="breadcrumbs-item"><a href="{% url 'shop:products_table' %}">Таблица товаров</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="row">
                    <div class="Section-content">
                        <div class="Product">
                            <div class="row-block">
                                <h2>Вернуть товар из архива по ID</h2>
                                <form method="post">
                                    {% csrf_token %}

                                    {# Показываем ошибки формы #}
                                    {% if form.errors %}
                                      <div class="form-errors">
                                        <ul>
                                          {% for field in form %}
                                            {% for error in field.errors %}
                                              <li>{{ error }}</li>
                                            {% endfor %}
                                          {% endfor %}
                                          {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                          {% endfor %}
                                        </ul>
                                      </div>
                                    {% endif %}

                                    <p>
                                      {{ form.product_id.label_tag }}<br>
                                      {{ form.product_id }}
                                    </p>

                                    <button type="submit" class="btn btn_danger">Вернуть товар из архива</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.wrap -->
        </div> <!-- /.Section_column -->
    </div>
{% endblock %}